$iconSrc: "../assets/icons/";

.rightArrow-i_02, .rightArrow-i_01, .applyRecord-i, .building-i_01, .building-i_02, .chat-i, .checkbox-i_01,
.checkbox-i_02, .close-i, .downArrow-i_01, .downArrow-i_02, .fileUpload-i,
.lock-i, .logout-i, .necktie-i_01, .necktie-i_02, .plus-i, .search-i,
.user-i_01, .user-i_02 {
    display: inline-block;
    background: center no-repeat;
    vertical-align: middle;
}

.rightArrow-i_02 {
    width: 0.9rem;
    height: 0.9rem;
    background-image: url($iconSrc + "rightArrow-i_02.svg");
    background-size: 0.9rem;
}
.rightArrow-i_01 {
    width: 0.55rem;
    height: 0.95rem;
    background-image: url($iconSrc + "rightArrow-i_01.png");
    background-size: 0.55rem;
}
.applyRecord-i {
    width: 1.55rem;
    height: 1.55rem;
    background-image: url($iconSrc + "applyRecord-i.png");
    background-size: 1.55rem;
}
.building-i_01 {
    width: 1.9rem;
    height: 1.9rem;
    background-image: url($iconSrc + "building-i_01.png");
    background-size: 1.9rem;
}
.building-i_02 {
    width: 1.9rem;
    height: 1.9rem;
    background-image: url($iconSrc + "building-i_02.png");
    background-size: 1.9rem;
}
.chat-i {
    width: 1.45rem;
    height: 1.35rem;
    background-image: url($iconSrc + "chat-i.png");
    background-size: 1.45rem;
}
.checkbox-i_01 {
    width: 1rem;
    height: 1rem;
    background-image: url($iconSrc + "checkbox-i_01.png");
    background-size: 1rem;
}
.checkbox-i_02 {
    width: 1rem;
    height: 1rem;
    background-image: url($iconSrc + "checkbox-i_02.png");
    background-size: 1rem;
}
.close-i {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url($iconSrc + "close-i.png");
    background-size: 1.5rem;
}
.downArrow-i_01 {
    width: 0.9rem;
    height: 0.55rem;
    background-image: url($iconSrc + "downArrow-i_01.png");
    background-size: 0.9rem;
}
.downArrow-i_02 {
    width: 0.9rem;
    height: 0.55rem;
    background-image: url($iconSrc + "downArrow-i_02.png");
    background-size: 0.9rem;
}
.fileUpload-i {
    width: 1.6rem;
    height: 1.4rem;
    background-image: url($iconSrc + "fileUpload-i.png");
    background-size: 1.6rem;
}
.lock-i {
    width: 1.25rem;
    height: 1.5rem;
    background-image: url($iconSrc + "lock-i.png");
    background-size: 1.25rem;
}
.logout-i {
    width: 1.35rem;
    height: 1.35rem;
    background-image: url($iconSrc + "logout-i.png");
    background-size: 1.35rem;
}
.necktie-i_01 {
    width: 1.1rem;
    height: 1.9rem;
    background-image: url($iconSrc + "necktie-i_01.png");
    background-size: 1.1rem;
}
.necktie-i_02 {
    width: 1.1rem;
    height: 1.9rem;
    background-image: url($iconSrc + "necktie-i_02.png");
    background-size: 1.1rem;
}
.plus-i {
    width: 1.9rem;
    height: 1.9rem;
    background-image: url($iconSrc + "plus-i.png");
    background-size: 1.9rem;
}
.search-i {
    width: 1.4rem;
    height: 1.4rem;
    background-image: url($iconSrc + "search-i.png");
    background-size: 1.4rem;
}
.user-i_01 {
    width: 1.65rem;
    height: 1.9rem;
    background-image: url($iconSrc + "user-i_01.png");
    background-size: 1.65rem;
}
.user-i_02 {
    width: 1.65rem;
    height: 1.9rem;
    background-image: url($iconSrc + "user-i_02.png");
    background-size: 1.65rem;
}

.on {
    .building-i_01 {
        background-image: url($iconSrc + "building-i_02.png");
    }
    .necktie-i_01 {
        background-image: url($iconSrc + "necktie-i_02.png");
    }
    .user-i_01 {
        background-image: url($iconSrc + "user-i_02.png");
    }
}